<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title%></title>

    <%- include('templates/header.ejs') %>
    
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <%- include('templates/menu.ejs') %>
    <section class="container">
        <h1 class="text-center">Unete a nuestra comunidad</h1><hr class="linea">
        <div class="login">
            <div class="login-img">
                <img src="/img/logo.png" alt="" width="550px"><b></b>
                <p>Inicia sesion para estar al dia con los nuevos productos y ofertas  o registrate si aun no lo haces es <strong>gratis</strong>!</p>
            </div>
            <div class="login-form">
                <div class="form-container card animated flipInY">
                    
                    <div class="separador">
                        <span onclick="login()">Iniciar</span>
                        <span onclick="registrar()">Registrarse</span>
                        <hr id="indicador">
                    </div>    

                    <form id="formulario-login" action="/login_" method="POST">
                        <div>
                            <input type="text" placeholder="Usuario" id="usuario" name="usuario">
                        </div>
                        <div>
                            <input type="password" placeholder="Contraseña" id="contraseña" name="contraseña">
                        </div>
                                    
                        <button type="submit" class="boton" id="validar-login">Iniciar sesion</button>
                        <a href="">Olvido su contraseña?</a>
                    </form>
            
                    <form id="formulario-registro" action="/add" method="POST">
                        <div>
                            <input type="text" placeholder="Nombre" id="nombreR" name="nombre">
                        </div>
                        <div>
                            <input type="text" placeholder="Usuario" id="usuarioR" name="usuario">
                        </div>
                        <div>
                            <input type="text" placeholder="Email" id="email" name="email">
                        </div>
                        <div>
                            <input type="password" placeholder="Contraseña" id="contraseñaR" name="contraseña">
                                        
                        <button type="submit" class="boton">Registrarme</button>
                    </form>
                </div>
            </div>
    </section>
    
    <%- include('templates/footer.ejs') %>
    <script src="/js/login.js"></script>
</body>
</html>