<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Document</title>
    <%- include('templates/header.ejs') %>
    <link rel="stylesheet" href="/css/productCar.css">
</head>
<body>
    <%- include('templates/menu.ejs') %>
    <div class="container dos">

        <nav> <!--Boostrap-->
            <div class="nav nav-tabs row" id="nav-tab" role="tablist">
                <button class="nav-link active col-2" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">
                    <i class="fas fa-shield-alt"></i> Productos</button>
                <button class="nav-link col-2" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">
                    <i class="fas fa-shopping-cart"></i> Carrito</button>

                    <div class="busqueda">
                        <div>
                            <input type="search" placeholder="Busqueda">
                            <i class="fas fa-search"></i>
                        </div> | 
                        <i class="fas fa-microphone"></i>
                    </div>
            </div>
        </nav>
        
        <div class="tab-content" id="nav-tabContent">
            
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab"><!--PRODUCTOS EN GENERAL--><!--Boostrap-->
                <h1 class="text-center">Productos</h1><hr>

                <div class="row" id="productos"></div>
            </div>

            <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab"> <!--CARRITO EN GENRAL--><!--Boostrap-->

                <h2 class="text-center">Productos del carrito</h2>

                <form action="" id="formulario-compra"> <!--FORMULARIO DE REGISTRO-->
                    <div class="formulario-cliente">
                        <div>
                            <label>Nombre: </label> <input type="text" id="nombre">
                        </div>
                        <div>
                            <label>Direccion: </label> <input type="text" id="direccion">
                        </div>
                        <div>
                            <label>Telefono:</label> <input type="text" id="telefono">
                        </div>
                    </div>
                    <div class="text-right">
                        <input class="btn btn-success" id="finalizar" type="submit">Finalizar compra</input>
                    </div>
                </form>

                <table class="table table-striped"> <!--DETALLE DE CARRITO-->
                    <thead>
                        <tr>
                            <th scope="col-1">#</th>
                            <th>Nombre</th>
                            <th>Accion</th>
                            <th>Cant</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody id="detalleCarrito">
        
                    </tbody>
                    <tfoot id="footerCarrito">
                        <tr id="footerCarrito">
                            <th scope="row" colspan="5">Carrito sin productos</th>
                        </tr>
                    </tfoot>
                </table>

            </div>

        </div>
    </div>
    
    <a href="https://wa.me/593963776411" class="float" target="_blank">
        <p>Comprar desde whatsapp</p>
        <i class="fab fa-whatsapp my-float"></i></a>

    <template id="templateProducto">
        <div class="col-4 productos">
            <div class="card container">
                <img src="" alt="" class="card-img-top">
                <!--div class="card-body"-->
                    <h5>Titulo</h5>
                    <p>Precio</p>
                    <p>Descripcion</p>
                    <button class="btn btn-primary btn-block añadirProducto" type="submit"><i class="fas fa-shopping-cart"></i> Añadir al carrito</button>
                <!--/div-->
            </div>
        </div>
    </template>

    <template id="template-carrito">
        <tr>
            <th scope="row">id</th>
            <td>nombre</td>            
            <td>
                <button class="btn btn-info btn-sm"> + </button>
                <button class="btn btn-danger btn-sm"> - </button>
            </td>
            <td>precio</td>
            <td>$ <span>100</span></td>
        </tr>
    </template>

    <template id="template-footer">
        <tr>
            <th scope="row" colspan="2"></th>
                <td><button class="btn btn-danger btn-sm" id="vaciar-carrito">Vaciar carrito</button></td>
            <th scope="row" class="text-right">Subtotal</th>
                <td class="font-weight-bold">$ <span>1000</span></td>
        </tr>

        <tr>
            <th scope="row" colspan="4" class="text-right">I.V.A 12%</th>
                <td>$<span>100</span></td>
        </tr>

        <tr>
            <th scope="row" colspan="4" class="text-right">TOTAL</th>
                <td><span>100</span></td>
        </tr>

    </template>


    <%- include('templates/footer.ejs') %>
    
    <script src="/js/productCar.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
</body>
</html>