<div class="uno">
    <header class="container">
        <div class="com">
            <h4><strong><a href="/">SECURITY MASTERED </a></strong></h4>
        </div>
        
        <input type="checkbox" id="btnMenu">
        <label for="btnMenu" id="checkbtn"><i class="fas fa-bars"></i></label>
            
        <nav class="menu">
            <ul>
                <li><a href="/"><i class="fas fa-home"></i> Inicio</a></li>
                <li><a href="/login.ejs"><i class="fas fa-user"></i> Iniciar Sesion</a></li>
                <li><a href="/productCar.ejs"><i class="fas fa-door-open"></i> Explorar Tienda</a></li>
                <li><a href="/nosotros.ejs"><i class="fas fa-users"></i> Quienes Somos</a></li>
            </ul>
        </nav>
    </header>
</div>