*{
    margin: 0;
    padding: 0;
}

/************************************************************/

.uno{
    background: #5090ee;
	box-shadow: 2px 2px 15px #999;
    height: 100px;
}

header{
    padding-top: 10px;
}

#btnMenu{
    display: none;
}

header label{
    display: none;
    width: 50px;
    padding: 10px;
    font-size: 35px;
    transition: all 500ms ease;
}

header label:hover{
    background-color: rgba(0, 0, 0, .2);
    cursor: pointer;
}

/* ESTILO DE MENU *********************************************/

.menu ul{
    list-style: none;
    padding: 1px;
    display: flex;
    justify-content: flex-end;
}

.menu ul li a{
    text-decoration: none;
    color: #fff;
    padding: 20px;
    display: block;
}

.menu ul li a:hover{
    background-color: #F7F8F9;
    padding: 15px;
    transition: .5s;
    color: #000;
}

label i{
    color: #fff;
}

.com h4 a{
    color: #fff;
    text-decoration: none;
    float: left;
    padding-top: 25px;
}

@media(max-width: 768px){

    .uno{
        height: 90px;
    }

    header label{
        display: block;
    }

    .checkbtn{
        display: flex;
    }

    .menu{
        width: 80%;
        position: fixed;
        background: #555;
        margin-left: -100%;
        transition: all 500ms ease;
    }

    .menu ul{
        flex-direction: column;  /* Cuando se pone en modo responsive la etiqueta ul ya no sera una fila, sera columna*/
    }

    #btnMenu:checked~ .menu{
        margin: 0;
    }

    .com{
        float: right;
    }
}