.linea{
    background:#6BAAB6;
    width: 600px;
    margin: auto;
    height: 2px;
}

section{
    margin: 50px;
    /*background: radial-gradient(#fff, #ccc);*/
    background-color: rgba(0, 0, 0, .04);
    box-shadow: 0 0 5px 0px rgba(0, 0, 0, 0.5);
}

section h1{
    padding-top: 50px;
}

.login{
    height: 600px;
    margin: auto;
    padding-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /*background: #ABCDEF*/
}

.login-img{
    margin: 30px 0px 30px 80px;
}

.login-img img{
    width: 450px;
    margin: auto;
}

.login-img p{
    margin-top: 30px;
    font-size: 17px;
}

section .form-container{
    width: 300px;
    height: 480px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.form-container span{
    font-weight:bold ;
    padding: px 10px;
    color: #555;
    cursor: pointer;
    width: 110px;
    display: inline-block;
}

.separador{
    display: inline;
}

.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 100px;
    transition: transform 1s;
}

form div{
    padding: 5px;
}

form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 20px;
    border: 1px solid #ccc;
}

form input:focus{
    border: 2px solid #555;
    outline: none;
}

form .boton {
    width: 100%;
    border:  none;
    cursor: pointer;
    margin: 10px 0;
}

.boton{
    display: inline-block;
    background: #678abc;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

.boton:hover{
    background: #563434;
}

#formulario-login{
    left: -300px;
}

#formulario-registro{
    left: 0;
}

form a{
    font-size: 12px;
}

#indicador{
    width: 100px;
    border: none;
    background: #678abc;
    height: 3px;
    margin-top: 8px;
    transform: translateX(150px);
    transition: transform 1s;
}

@media(max-width: 768px){

    .linea{
        background:#6BAAB6;
        width: 450px;
        margin: auto;
        height: 2px;
    }

    section{
        box-shadow: 0px 0px;
    }
    
    .login-form{
        grid-column: 1 / -1;
    }

    .login-img{
        display: none;
    }
}